    .cartitems hr {
        height: 3px;
    }
    
    .cartitems-format-main,
    .cartitems-format {
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        color: rgb(87, 80, 72);
    }
    
    .cartitems-format-main p {
        margin-bottom: 0;
        font-size: small;
    }
    
    .cartitems-format p {
        font-size: small;
    }
    
    .carticon-product-icon {
        width: 50px;
    }
    
    .carousel-item {
        height: 400px;
        width: 700px;
    }
    
    .carousel-item img {
        object-fit: contain;
        height: 400px;
    }
    
    .item img {
        object-fit: contain;
        height: 200px;
    }
    
    .navbar {
        display: flex;
        justify-content: space-around;
        padding: 16px;
    }
    
    .nav-logo img {
        width: 5rem;
    }
    
    .nav-menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        cursor: pointer;
    }
    
    .nav-menu hr {
        border: none;
        width: 80%;
        height: 3px;
        border-radius: 10px;
        background: #ff4141;
    }
    
    .display img {
        object-fit: contain;
        height: 450px;
    }